<div data-ng-controller="adminUIController">

	<accordion>
	 
		<accordion-group is-open="status.aidStationsOpen">
			<accordion-heading> 
				Aid Stations 
				<i class="pull-right glyphicon" data-ng-class="{'glyphicon-chevron-down': status.aidStationsOpen, 'glyphicon-chevron-right': !status.aidStationsOpen}"></i> 
			</accordion-heading>
	
			<div data-ng-controller="AidStationController">
				<form align="center" role="form" class="form-inline">
					<div class="form-group">
						<label for="stationName" class="control-label">Name</label>
						<input id="stationName" class="form-control" type="text" data-ng-model="aidStation.name"><br> 
					</div>
					
					<div class="form-group">
						<label for="stationDistance" class="control-label">Distance</label>
						<input id="stationDistance" class="form-control" type="text" data-ng-model="aidStation.distance"><br>
					</div>
				
					<button class="btn btn-default" data-ng-click="createAidStation(aidStation)">
					Add
				</button>
				</form>
			<br>
			<table class="table table-striped">
				<thead>
					<tr>
						<td align="center"><b>#</b>
						<td align="center"><b> Aid Station </b></td>
						<td align="center"><b> Distance </b></td>
						<td align="center"><b> Actions </b></td>
					</tr>
				</thead>
	
				<tbody>
					<tr data-ng-repeat="aidStation in aidStations">
						<td align="center"> {{$index+1}} </td>
						<td align="center"> <a href="" data-editable-text="aidStation.name" data-onaftersave="updateAidStation(aidStation)"> {{ aidStation.name }} </a></td>
						<td align="center"> <a href="" data-editable-text="aidStation.distance" data-onaftersave="updateAidStation(aidStation)"> {{ aidStation.distance }} </a></td>
						<td align="center">
							<button class="btn btn-default" data-ng-click="deleteAidStation(aidStation.id)">
								<span class="glyphicon glyphicon-trash"></span>
							</button>
						</td>
					<tr>
				</tbody>
			</table>
		</div>
		</accordion-group>
		
		<accordion-group is-open="status.categoriesOpen">
			<accordion-heading>
				Categories 
				<i class="pull-right glyphicon" data-ng-class="{'glyphicon-chevron-down': status.categoriesOpen, 'glyphicon-chevron-right': !status.categoriesOpen}"></i> 
			</accordion-heading> 
			
			<div data-ng-controller="CategoryController">
				<form align="center" role="form" class="form-inline">
					<div class="form-group">
						<label for="categoryName" class="control-label">Name</label>
						<input id="categoryName" class="form-control" type="text" data-ng-model="category.name"><br> 
					</div>
					
					<div class="form-group">
						<label for="categoryShortName" class="control-label">Short name</label>
						<input id="categoryShortName" class="form-control" type="text" data-ng-model="category.shortName"><br>
					</div>
				
					<button class="btn btn-default" data-ng-click="createCategory(category)">
					Add
				</button>
				</form>
			<br>
			<table class="table table-striped">
				<thead>
					<tr>
						<td align="center"><b>#</b>
						<td align="center"><b> Name </b></td>
						<td align="center"><b> Short Name </b></td>
						<td align="center"><b> Actions </b></td>
					</tr>
				</thead>
	
				<tbody>
					<tr data-ng-repeat="category in categories">
						<td align="center"> {{$index+1}} </td>
						<td align="center"> <a href="" data-editable-text="category.name" data-onaftersave="updateCategory(category)"> {{ category.name }} </a></td>
						<td align="center"> <a href="" data-editable-text="category.shortName" data-onaftersave="updateCategory(category)"> {{ category.shortName }} </a></td>
						<td align="center">
							<button class="btn btn-default" data-ng-click="deleteCategory(category.id)">
								<span class="glyphicon glyphicon-trash"></span>
							</button>
						</td>
					<tr>
				</tbody>
			</table>
		</div>
			
		</accordion-group> 
		
		<accordion-group is-open="status.open">
			<accordion-heading> 
				Runners 
				<i class="pull-right glyphicon" data-ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
				</accordion-heading> 
				
				<div data-ng-controller="RunnerController">
				<form align="center" role="form" class="form-inline">
					<div class="form-group">
						<label for="runnerName" class="control-label">Name</label>
						<input id="runnerName" class="form-control" type="text" data-ng-model="runner.name"><br> 
					</div>
					
					<div class="form-group">
  						<label for="runnerCategory">Category</label>
  						<select class="form-control" ng-model="selectedCategory" ng-options="category.name for category in categories">
  						</select>
					</div>

					<button class="btn btn-default" data-ng-click="createRunner(runner)">
						Add
					</button>	
				</form>
				
			<br>
			
			<table class="table table-striped">
				<thead>
					<tr>
						<td align="center"><b>#</b>
						<td align="center"><b> Name </b></td>
						<td align="center"><b> Category </b></td>
						<td align="center"><b> Actions </b></td>
					</tr>
				</thead>
	
				<tbody>
					<tr data-ng-repeat="runner in runners">
						<td align="center"> {{$index+1}} </td>
						<td align="center"> <a href="" data-editable-text="runner.name" data-onaftersave="updateRunner(runner)"> {{ runner.name }} </a></td>
						<td align="center"> <a href="" data-editable-select="runner.category" data-e-ng-options="category.name for category in categories" data-onaftersave="updateRunner(runner)"> {{ runner.category.name }} </a></td>
						<td align="center">
							<button class="btn btn-default" data-ng-click="deleteRunner(runner.id)">
								<span class="glyphicon glyphicon-trash"></span>
							</button>
						</td>
					<tr>
				</tbody>
			</table>
		</div>
				
		</accordion-group> 
	
	</accordion>

</div>





