		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Runners</h3>
			</div>

			<div class="panel-body">
				<table class="table table-striped">

					<thead data-ng-controller="AidStationController">
						<tr id="runners-header">
							<td align="center"> <b> Name </b> </td>
							<td align="center"> <b> Category </b> </td>
							<td align="center" data-ng-repeat="aidStation in aidStations"> <b> {{ aidStation.name }} </b> </td>
						</tr>
					</thead>
					<tbody id="runners-list" data-ng-controller="RunnerController">
						<tr data-ng-repeat='runner in runners'>
							<td align="center"> {{runner.name}} </td>
							<td align="center"> {{runner.category.shortName}} </td>
							<td align="center" data-ng-repeat="timeEntry in runner.times"> {{timeEntry.time | date: 'd.MM HH:mm'}} </td>
						<tr>
					</tbody>
				</table>
			</div>
		</div>